$main-bg-color: #181818;
$nav-bg-color: #202020;
$sidebar-bg-color: #212121;
$search-bg-color: #313131;
$skeleton-bg-color: #303030;
$searchbox-bg-color: #121212;
$main-light-color: #FFFFFF;
$nav-height: 56px;