//Variables
$color-primary: #FFFFFF;
$color-secondary: #d1d1d1;
$box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
$font-stack: 'Raleway', sans-serif;

//Maps
$font-weight: (
    "light": 300,
    "heavy": 900
)