@import '_colors';

*, *::after, *::before {
    box-sizing: border-box;
}

%flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
}

.weather-wrapper {
    @extend %flexbox;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background-color: #E8F5FF;
}

.weather-search {
    display: flex;
    flex: 0 1 400px;
    position: absolute;}

#search-form {
    display: flex;
    height: 50px;
}

.form-input {
    width: 100%;
    height: 100%;
    border: 2px solid #f0f0f0;
    font-size: 14px;
    padding: 10px;
    outline: none;
}

.form-input:focus {
    border-color: #777777;
}

.search-button {
    @extend %flexbox;
    padding: 8px;
    height: 50px;
    width: 50px;
}

.weather-cnt {
    @extend %flexbox;
    background-color: #FFFFFF;
    max-width: 900px;
    width: 100%;
    min-height: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}