@import '_colors';

*, *::after, *::before {
    box-sizing: border-box;
}

img {
    width: 100%;
}

%flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
}

.weather-wrapper {
    @extend %flexbox;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background-color: #E8F5FF;
}

.weather-search {
    display: flex;
    width: 500px;
    flex: 0 1;
    position: absolute;
    visibility: hidden;
}

#search-form {
    @extend %flexbox;
    position: relative;
    height: 50px;
    flex: 1;
}

.form-input {
    width: 100%;
    flex: 1;
    height: 100%;
    border: 2px solid #f0f0f0;
    border-radius: 130px;
    font-size: 14px;
    padding: 10px 50px 10px 20px;
    outline: none;
}

.form-input:focus {
    border-color: #777777;
}

.search-button {
    position: absolute;
    right: 0;
    @extend %flexbox;
    padding: 10px;
    height: 50px;
    width: 50px;
    background-color: transparent;
    outline: none;
    border: none;

    svg {
        fill: #777777;
    }
}

.weather-cnt {
    @extend %flexbox;
    background-color: #FFFFFF;
    max-width: 900px;
    width: 100%;
    min-height: 500px;
    max-height: 100vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
}

.weather-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.1);
    }

    img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.weather-data {
    padding: 20px;
    @extend %flexbox;
    flex-direction: column;
    z-index: 2;
    width: 100%;
}

.weather-data-main {
    display: flex;
    justify-content: space-around;
}

.weather-data-main-icon {
    background-color: #FFFFFF;
    mask: url(img/weather-icon/005-sun.svg) no-repeat center;
    width: 64px;
    height: 64px;
}