$graph-color: #000000;
$black-color: #000000;
$white-color: #FFFFFF;
$add-color: #00b549;
$error-color: #CC0000;
$main-color: #0b5d9d;
$second-color: #014385;
$form-placeholder-color: #495057;
$table-border-color: rgba(255,255,255,0.5);
$table-header-bg-color: rgba(255,255,255,0.2);
$overlay-color: rgba(0, 0, 0, 0.5);