$graph-color: #000000;
$black-color: #000000;
$white-color: #FFFFFF;
$add-color: #1bdf6a;
$error-color: #CC0000;
$main-color: #2392e9;
$second-color: #0f71bd;
$form-placeholder-color: #495057;
$table-border-color: rgba(255,255,255,0.5);
$table-header-bg-color: rgba(255,255,255,0.2);
$overlay-color: rgba(0, 0, 0, 0.6);