$main-color: #5371bc;
$button-color: #3e60b7;
$white-color: #FFFFFF;
$incorrect-color: #330303;
$incorrect-bg-color: #fecacf;
$correct-color: #03330d;
$correct-bg-color: #cafecc;
$form-control-border-color: #dc3545;